html {
    background-color: #003a53;
    align-content: center;
    margin: 20px;
}

#accordion {
    background-color: #5199ce;
    border-color: #5080ce;
    color: #003a53;
}

#card {
    margin: 5px;
    background-color: #f8c84b;
    color: #003a53;
}
